[flake8]

max-line-length = 88

# Игнорируемые ошибки
ignore =
    W291  # Пробел в конце строки

# Настройка для поддержки двойных кавычек
inline-quotes = "

# Настройка сложности кода
max-complexity = 10

# Исключаем некоторые папки из проверки
exclude =
    .git,
    __pycache__,
    migrations,
    .github/workflows
