asgiref==3.8.1
Django==5.1.2
flake8==7.1.1
flake8-import-order==0.18.2
flake8-quotes==3.4.0
mccabe==0.7.0
pillow==11.0.0
pycodestyle==2.12.1
pyflakes==3.2.0
setuptools==75.3.0
sqlparse==0.5.1
tzdata==2024.2
