main {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 100px); /* Рассчитываем высоту с учетом футера */
}

/* Левый блок с историей просмотров */
.sidebar {
    width: 20%;
    background-color: #dddddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание по верхнему краю */
}

h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.history {
    list-style-type: none;
    padding: 0;
}

.history li {
    margin-bottom: 10px;
}

.history li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.history li a:hover {
    text-decoration: underline;
}

/* Ссылка на профиль */
.profile-link {
    margin-top: auto; /* Располагает ссылку на профиль внизу */
    text-align: center;
}

.profile-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.profile-link a:hover {
    text-decoration: underline;
}

/* Основной блок */
.content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-movie-button {
    padding: 15px 30px;
    background-color: #45885b;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.current-movie-button:hover {
    background-color: #50785d;
}

.login-container {
    width: 600px;
    height: 450px;
    margin: 100px auto;
    padding: 20px;
    background: #212529; /* Цвет основного фона */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ecf0f1;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    background: #ecf0f1;
    color: #34495e;
}

.login-form input[type="submit"] {
    background: #007bff; /* Синий цвет Bootstrap */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}

.login-form input[type="submit"]:hover {
    background: #0056b3; /* Темно-синий при наведении */
}

.links a {
    color: #1abc9c;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}

.signup-container {
    width: 800px;
    margin: 10px auto;
    padding: 20px;
    background: #212529;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center; /* Центровка текста и элементов */
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ecf0f1;
}

.signup-form {
    display: flex;
    flex-direction: column; /* Все элементы формы идут столбцом */
    align-items: center; /* Центровка всех элементов внутри формы */
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%; /* Инпуты занимают всю ширину контейнера */
    max-width: 280px; /* Ограничиваем ширину инпутов */
    margin: 10px 0; /* Пространство между инпутами */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #ecf0f1;
    color: #34495e;
}

.signup-form button {
    margin: 20px 0; /* Пространство сверху и снизу */
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background 0.3s;
}

.signup-form button:hover {
    background: #0056b3;
}

.policy-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #212529; /* Темный фон */
    color: #ecf0f1; /* Светлый текст */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.policy-container h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #3498db; /* Акцентный цвет */
}

.policy-content h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #3498db; /* Синий для заголовков */
}

.policy-content p, .policy-content ul {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 16px;
}

.policy-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.policy-content ul li {
    margin-bottom: 10px;
}

.policy-content a {
    color: #1abc9c; /* Цвет ссылок */
    text-decoration: none;
}

.policy-content a:hover {
    text-decoration: underline;
}