{% extends 'base_s3.html' %}

<!-- Загрузка стиля -->
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
<!-- блок метаданных -->
{% block meta %}
    <meta
        name="description"
        content="Смотрелка необходима для того, чтобы спокойно смотреть фильмы." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

<!-- Название страницы-->
{% block title %}
    Главная страница
{% endblock %}

<!-- блок контенента -->
    {% block content %}
        <!-- Левый блок: история просмотров и ссылка на профиль -->
        <div class="sidebar">
            <h2>История просмотров</h2>
            <ul class="history">
                <li><a href="#">Фильм 1</a></li>
                <li><a href="#">Фильм 2</a></li>
                <li><a href="#">Фильм 3</a></li>
                <!-- Добавляйте другие фильмы по мере необходимости -->
            </ul>
            <div class="profile-link">
                <a href="#">Профиль</a>
            </div>
        </div>

        <!-- Основной блок: кнопка текущего фильма -->
        <div class="content">
            <a href="#" class="current-movie-button">
                Посмотреть текущий фильм
            </a>
        </div>
    {% endblock %}
