{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'player/style_min.css' %}">
<style>
    /* Устанавливаем фон за основным контентом */
    #background {
        background-image: url("{% static 'player/assets/pattern.webp' %}");
        background-size: 352px;
        background-repeat: repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: -1;
    }

    /* Стили для скрытия и показа боковой панели */
    #history-panel {
        transition: all 0.3s ease;
    }
    .history-hidden #history-panel {
        display: none;
    }
    .history-hidden .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 722px;
    }
</style>
{% endblock %}

<!-- Название страницы-->
{% block title %}Главная страница{% endblock %}

<!-- блок контенента -->
{% block content %}
<div id="background"></div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <button id="toggle-history-btn" class="btn btn-outline-light"><i class="bi bi-list fs-4"></i></button>
        </div>

        <div id="history-panel" class="col-5 list-group">
            <h3>История просмотра</h3>
            {% for movie in movies %}
                <button type="button" onclick="globalThis.init({{ movie.movie_data | safe }});" class="list-group-item list-group-item-action bg-dark text-light">
                    <div class="row">
                        <p class="col-8 mb-1">{{ movie.movie_data.title }}</p>
                        <small class="col-4 text-end">{{ movie.time_since_creation }}</small>
                    </div>
                </button>
            {% empty %}
                <button type="button" class="list-group-item list-group-item-action">Здесь пусто</button>
            {% endfor %}
        </div>

        <div class="col content">
            {% if movies %}
                <div id="container">
                    <div id="player">
                        <div id="header">
                            <div id="title"></div>
                            <div id="logo">
                                <img src="{% static 'player/assets/logo.svg' %}" alt="Tape Operator Logo">
                            </div>
                        </div>
                        <div id="content">
                            <img src="{% static 'player/assets/loading.svg' %}" alt="Loading...">
                        </div>
                        <div id="sources"></div>
                        <div id="footer">
                            <div>
                                Made with ♥ by <a href="https://github.com/Kirlovon" target="_blank">Kirlovon</a>.
                                Modified by <a href="https://github.com/RichCake/movieservice" target="_blank">Movieservice Team</a>.
                            </div>
                            <div>
                                <a href="https://github.com/RichCake/movieservice/issues" target="_blank">Bug Report ↗</a>
                                <span id="version"></span>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <h5>Пока нечего смотреть. Переходите на <a href="https://www.kinopoisk.ru/" target="_blank">Kinopoisk</a>!</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'player/config.js' %}"></script>
<script src="{% static 'player/utils.js' %}"></script>
<script src="{% static 'player/player.js' %}"></script>
<script>
    document.getElementById('toggle-history-btn').addEventListener('click', function () {
        document.body.classList.toggle('history-hidden');
    });

    {% if movies %}
    globalThis.init({{ movies.first.movie_data | safe }});
    {% endif %}
</script>
{% endblock %}