{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Вход</h2>
        <form method="post" class="login-form">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Войти" class="btn btn-primary btn-lg px-4 me-md-2"></p>
        </form>
        <p class="links"><a href="{% url 'accounts:signup' %}">Нет аккаунта?</a></p>
        <p class="links"><a href="{% url 'password_reset' %}">Сбросить пароль</a></p>
    </div>
{% endblock %}