{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
    <div class="signup-container">
        <h2>Регистрация</h2>

        {% if form.errors %}
            <div class="error-container">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" class="signup-form">
    {% csrf_token %}

    <div>
        <label for="username">Имя пользователя:</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>

    <div>
        <label for="email">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div>
        <label for="first_name">Имя:</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
    </div>

    <div>
        <label for="last_name">Фамилия:</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </div>

    <div>
        <label for="password1">Пароль:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>

    <div>
        <label for="password2">Подтвердите пароль:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>

    <div class="checkbox-container">
        <input type="checkbox" name="agree_to_terms" id="agree_to_terms" required>
        <label for="agree_to_terms">
            Я соглашаюсь с <a href="{% url 'homepage:privacy' %}" target="_blank">политикой обработки персональных данных</a>
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Зарегистрироваться</button>
</form>

        <p class="links"><a href="{% url 'login' %}">Уже есть аккаунт? Войти</a></p>
    </div>
{% endblock %}