<!DOCTYPE html>
<html>
<head>
    <title>Template</title>
    <link rel="icon" href="logo2.png"> <!-- 32×32 -->
    <!-- <img src="logo1.png"> -->
    <link rel="stylesheet" type="text/css" href="base_s2.css">
</head>
<body>
    <header>

        <h1>Смотрелка</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/auth/">Auth</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Фильмы</h2>
        <p>Раньше здесь был мат</p>
    </main>
    <footer>
        <p>ООО "НИИ Ху Ясебе"</p>
    </footer>
</body>
</html>