<!DOCTYPE html>
<html lang="ru"><html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="ДГИ" />
    {% block meta %}{% endblock %}

    <title>{% block title %}Template{% endblock %}</title>
    {% load static %}

    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/logo2.png' %}" type="image/x-icon" /> <!-- Иконка в избранном-->
    <link rel="icon" href="{% static 'images/logo2.png' %}"> <!-- 32×32 --> <!-- Иконка сверху -->

    <link rel="stylesheet" type="text/css" href="{% static 'base_s2.css' %}">
</head>

<body>
    <header>
        <h1>Смотрелка</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/auth/">Auth</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Практиканты Департамента городского имущества города Москвы</p>
    </footer>
</body>
</html>
